ghToken: ""

header:
  title: "Nojiko Dashboard"
  showLogo: false
  showWeather: true
  latitude: 43.65
  longitude: -79.38

thumbFeeds:
  - title: "YouTube Feed"
    icon: "youtube"
    feedType: "youtube"
    limit: 10
    channels:
      - "mkbhd"
      - "LinusTechTips"
      - "Dave2D"
      - "NetworkChuck"

statusCards:
  - title: "Project Status"
    icon: "github"
    type: "github"
    cards:
      - repo: "tanq16/nojiko"
      - repo: "torvalds/linux"
      - repo: "tanq16/local-content-share"
  - title: "Service Status"
    icon: "bar-chart-3"
    type: "service"
    cards:
      - name: "Adguard Home"
        serviceType: "adguard"
        url: "https://adguard.homelab.local"
        username: ""
        password: ""

bookmarks:
  - category: "Social Media"
    color: "ctp-green"
    links:
      - name: "Twitter / X"
        url: "#"
        icon: "twitter"
      - name: "YouTube"
        url: "#"
        icon: "youtube"
  - category: "Development"
    color: "ctp-yellow"
    folded: true # This category will be folded by default
    folders:
      - name: "Frameworks"
        icon: "folder"
        links:
          - name: "React Docs"
            url: "#"
            icon: "dot"
      - name: "Databases"
        icon: "database"
        folded: true # This folder will be folded by default
        links:
          - name: "PostgreSQL"
            url: "#"
            icon: "dot"
